<table class="table">
  <thead>
    <tr>
      <th scope="col">Created At</th>
      <th scope="col">Symtoms</th>
      <th scope="col">Treatment</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @medical_records.each do |medical_record| %>
      <tr>
        <td><%= medical_record.created_at.strftime("%H:%M %m/%d/%Y") %></td>
        <td>
          <%= medical_record.symtoms.truncate(50) %>
        </td>
        <td><%= medical_record.treatment.truncate(50) %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
